@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

.container-img{
    background-image: url('../img/main-img.jpeg');
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-size: cover;
}
.main-header{
    font-size: 140px;
    font-weight: 700;
    color: #fff;
    font-family: satisfy;
}

.main-text{    
    font-size: 80px;
    font-weight: 500;
    color: #fff;
    font-family: satisfy;
}
.header-container{
    width: 50%;
    padding-top: 200px;
    padding-left: 50px;
}
.img-width{
    width : 33%;
}

.pizza-label{
    font-size: 25px;
    font-weight: bold;
}

.footer {
    margin-top: 50px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
 }